

body{
  font-family: 'Raleway', sans-serif;
      font-size: 24px;
    line-height: 1.25em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}

.navbar-default .navbar-toggle {
    border-color: #d88319;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d88319;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ebac5c;
}

.nav-mobile{
    display: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 500;
}

.navbar-default .navbar-brand{
  font-weight: 700;
  font-size: 32px;
  color: #333;
}

.navbar-default .navbar-brand:hover{
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: transparent;
}

.navigation{
    background: transparent;
    top: -100px;
    -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sticky{
    background: #EEA243;
   height: 50px; 
   top: 0px;
   -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#heroimg{
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../images/nature.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

    .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
}

@media only screen and (max-width : 768px) {
    .main-title{
        font-size: 2.3em;
    }
}

.main-title .thin {
    font-weight: 200;
}

.heroimg a.go-to-about{
        display: block;
        width: 100%;
        background: transparent;
        position: absolute;
        border: none !important;
        bottom:55px;
        margin: 0;
        padding: 60px;
        background: url(../images/bottom-arrow.png) no-repeat;
        background-position: center;
    }
    .heroimg > a.go-to-bottom{
        display: block;
        background: transparent ;
        position: absolute;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
        z-index: 99999;
        left: 0;
        right: 0;
        bottom: 6%;
        outline: none;
        border: none !important
    }

    /* ABOUT BUTTON ANIMATION */
    @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-30px);
            transform: translateY(-30px);
        }
        60% {
            -moz-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }
    @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
            40% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }
        60% {
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }
        60% {
            -moz-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
        }
    }
    .bounce {
        -moz-animation: bounce 3s infinite;
        -webkit-animation: bounce 3s infinite;
        animation: bounce 3s infinite;
    }


h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 25px;
    text-transform: uppercase;
}

#about{
  padding:75px 0;
}

.zed{
  font-family: 'Lobster', cursive;
}

#portfolio{
  width: 100%;
  background: url(../images/portfolio-background.jpg) no-repeat center center;
 -webkit- background-size: cover;
 -moz- background-size: cover;
 -ms- background-size: cover;
 -o- background-size: cover;
  background-size: cover;
}

/*#portfolio h1{
  padding-top: 50px;
}
*/
/* =======================
    WORK SECTION
========================= */
.work-section {
    padding: 100px 0;
}

    .section-caption {
        margin-top: 15px;
        padding-left: 20%;
    }

    .section-caption > p {
        font-family: 'Open Sans', Arial,sans-serif ;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        color: #808080
    }

    .section-caption > p > span {
        color: #EEA243;
    }
    .section-caption > p {
    }

    .section-caption > p > span {
    }

    .button-group {
        margin: 30px 0;
    }
    .button-group > li{
        display: block;
        cursor: pointer;
        list-style: none;
        display: inline-block;
        font-family: 'Open Sans', Arial,sans-serif ;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        margin: 0 15px;
        position: relative;
    }
    .button-group > li:first-child{
        margin: 0 15px 0 5px;
    }

    .button-group > li:hover{
        color: #333
    }

    .button-group > li:before{
        content: "";
        height: 5px;
        width: 50%;
        background: transparent;
        position: absolute;
        bottom: -5px;
        left: 0%;
        transition: all 1s;
    }
    .button-group > li:after{
        content: "";
        height: 5px;
        width: 50%;
        background: transparent;
        position: absolute;
        bottom: -5px;
        right: 0%;
        transition: all 1s;
    }
    .button-group > li.active{
        color: #333;
        display: inline-block;
        position: relative;
    }

    .button-group > li.active:before{
        content: "";
        height: 5px;
        width: 50%;
        background: #333;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: all 1s;
    }
    .button-group > li.active:after{
        content: "";
        height: 5px;
        width: 50%;
        background: #333;
        position: absolute;
        bottom: -5px;
        right: 0;
        transition: all 1s;
    }
    .button-group > li.active:hover:before{
        left: 50%;
    }
    .button-group > li.active:hover:after{
        right: 50%;
    }
     .button-group > li:hover:before{
        left: 50%;
        background: #333;
    }
    .button-group > li:hover:after{
        right: 50%;
        background: #333;
    }

    .sort-button-group {
    }

    .button {
    }

    .work {
    }

    .work-item {
        position: relative;
    }

    .drawing {
    }

    .col-md-3 {
    }

    .col-md-3 > a {
    }

    .col-md-3 > a > img {
    }

    .work-content {
        background: #EEA243;
        position: absolute;
        margin: 0 5px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        display: block;
        text-align: center;
        opacity: 0;
        transition: all 0.3s;
        padding:0 15px
    }

    .work-item:hover .work-content{
        top:15px;
        left: 15px;
        bottom: 15px;
        right: 15px;
        opacity: 1;
        padding: 0;
    }

    .work-caption{
        height: 100%;
        text-align: center;
        display: table;
        width:100%;
    }


    .work-caption .work-caption-details{
        vertical-align: middle;
        display: table-cell;
        padding:0 5px;
    }

    .work-content > .work-caption > .work-caption-details > h2 {
        width:100%;
        text-align: center;
        margin: 0 !important;
        position: relative;
        top: 15px;
        padding-bottom: 15px;
    }

    .work-content > .work-caption > .work-caption-details > p {
        width:100%;
        display: block;
        margin: 0;
        margin-top: 10px;
        color: #000;
        font-size: 18px;
        line-height: 1em;
    }

    .work-content > .work-caption > .work-caption-details > p > a{
        color: #fff;
        background: #EEA243;
        display: inline-block;
        overflow: hidden;
        width: 40px;
        height: 40px;
        padding: 8px;
        margin: 5px;
        border: 1px solid #EEA243;
        transition: all 0.3s;
    }

    .work-content > .work-caption > .work-caption-details > p > a:hover{
        background: #EEA243;
        border: 1px solid #000;
        color: #000
    }

    .work-content > .work-caption > .work-caption-details > p > a > i{
        font-size: 25px;
    }


    .work-item {
      float: left;
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px
    }
    .work-item img{
        width: 100%;
        height: auto;
    }

/*Footer*/

footer{
    padding: 100px 0;
    text-align: center;
}

footer p{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: 1.5em;
}

footer p span{
font-size: 1.3em;
font-weight: 300;
    text-transform: lowercase;
}

.social a{
    text-decoration: none;
}

.social-icon img{
    width: 50px;
}

svg path{
     fill: #EEA243 !important;
}

@media (min-width: 991px) and (max-width: 1199px) {

    #about img{
        position: relative;
        top: 60px;
    }
}
@media (max-width: 991px) {

    .work-item{
        width: 50%;
    }
}

@media (max-width: 767px){

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #d88319;
        background: #f2a340;
}

    #about .container{
            padding: 0 75px;
    }

    .button-group > li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .work-item{
        width: 50%;
        padding: 5px
    }

    .sort-button-group {
    padding-left: 0;
    }

    .button-group > li:first-child{
        margin: 0;
    }

    .button-group > li:hover:after {
    background: transparent;
    }

    .button-group > li:hover:before {
        background: transparent;
    }

    .button-group > li.active:before {
        background: transparent;
    }

    .button-group > li.active:after {
        background: transparent;
    }

    .nav-title{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

}

@media (max-width: 600px){
     h1{
        font-size: 45px
    }

    p{
        font-size: 18px;
    }

}

@media (max-width: 479px){

    h1{
            font-size: 38px;
            padding-bottom: 5px;
    }

    #about .container {
    padding: 0 50px;
}

    .work-item{
        width: 100%;
        padding: 5px
    }

    footer{
        padding: 100px 0 50px 0;
    }
}

@media (max-width: 360px) {

    .main-title {
    font-size: 1.6em;
}

#about .container{
    padding:0 15px;
    text-align: center;
}

#about p{
    text-align: justify;
}

    footer p span {
    font-size: 1.1em;
}
}